$1ma={{ factoryState.var_1ma }}
$2ma={{ factoryState.var_2ma }}
$3ma={{ factoryState.var_3ma }}
$4ma={{ factoryState.var_4ma }}

$xfr={{ factoryState.var_xfr }}
$yfr={{ factoryState.var_yfr }}
$zfr={{ factoryState.var_zfr }}
$afr={{ factoryState.var_afr }}

$xvm={{ factoryState.var_xvm }}
$yvm={{ factoryState.var_yvm }}
$zvm={{ factoryState.var_zvm }}
$avm={{ factoryState.var_avm }}

$xtr={{ factoryState.var_xtr }}
$ytr={{ factoryState.var_ytr }}
$ztr={{ factoryState.var_ztr }}
$atr={{ factoryState.var_atr }}

$xsa={{ factoryState.var_xsa }}
$ysa={{ factoryState.var_ysa }}
$zsa={{ factoryState.var_zsa }}
$asa={{ factoryState.var_asa }}

$1pm={{ factoryState.var_1pm }}
$2pm={{ factoryState.var_2pm }}
$3pm={{ factoryState.var_3pm }}
$4pm={{ factoryState.var_4pm }}

